section.hero.hotels-of-the-week > article .contenu .swiper-slide {
    min-height: 350px !important;
    height: 350px;
}

section.hotels-of-the-week > article .contenu .swiper-slide .content {
    padding: 16px !important;
}

section.hotels-of-the-week > article .contenu .swiper-slide .content .top {
    align-items: center;
}

section.hotels-of-the-week > article .contenu .swiper-slide .content .actions {
    margin-top: 0 !important;
}

.mini-main-slider + [class*="BannerMainBanner_bannerMainBanner"] {
    visibility: hidden;
}

[class*="BannerMainBanner_bannerMainBanner"] + .mini-main-slider {
    display: block !important;
}

.mini-main-slider {
    position: relative;
    width: 100%;
}

.mini-main-slider .glide__track {
    overflow: hidden;
}

.mini-main-slider .glide__slides {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-y;
    will-change: transform;
}

.mini-main-slider .glide__slide {
    flex-shrink: 0;
    width: 100%;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.mini-main-slider .glide__bullets {
    position: absolute !important;
    bottom: 40px;
    max-width: 1370px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mini-main-slider .glide__bullet {
    box-sizing: border-box;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    background: var(--ant-color-primary);
    width: 10px;
    height: 10px;
    border: none;
}

.glide__bullet.glide__bullet--active {
    position: relative;
    opacity: 1;
}

.glide__bullet.glide__bullet--active:after {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    border-radius: 100%;
    border: 1px solid var(--ant-color-primary);
    opacity: 1;
}
