#magic-ball {
	--transition: 500ms;
	z-index: 120;
	position: fixed;
	bottom: 100px;
  right: 60px;
	width: 200px;
	height: 200px;
	background-image: url("https://b2ccdn.coral.ru/content/landing-pages/magic-ball/ball.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 100%;

	@media (max-width: 768px) {
		width: 100px;
		height: 100px;
		bottom: 48px;
		left: 16px;
	}

	button.close {
		display: none;

		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			border-radius: 8px;
			border: none;
			position: absolute;
			right: 0;
			z-index: 4;
			top: -4px;
			padding: 0;
		}
	}
}

#magic-ball:after {
	content: '';
	width: 105%;
	height: 105%;
	background-image: url("https://b2ccdn.coral.ru/content/landing-pages/magic-ball/ball-dark.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity var(--transition) ease;
}

#magic-ball.darken:after {
	opacity: 1;
}

#magic-ball .content {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
}

#magic-ball::before {
	content: '';
	position: absolute;
	width: 139px;
	height: 83px;
	bottom: -60px;
	right: 60px;
	background-image: url("https://b2ccdn.coral.ru/content/landing-pages/magic-ball/podium-ligal.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 4;

	@media (max-width: 768px) {
		width: 79px;
    height: 83px;
    bottom: -47px;
		right: 25px;
	}
}

#magic-ball .intro-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 8px;
	position: relative;
	z-index: 3;
	padding: 16px;
}

#magic-ball .joke {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 8px;
	position: absolute;
	z-index: 3;
	opacity: 0;
	transition: opacity var(--transition) ease;
	padding: 16px;
	pointer-events: none;
}


#magic-ball .intro-text .headline, #magic-ball .joke .headline {
	color: #FFF;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 1;

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

#magic-ball .intro-text span:not(.headline) {
	@media (max-width: 768px) {
		display: none;
	}
}


#magic-ball .intro-text span {
	font-size: 10px;
	color: #FFF;
}

#magic-ball .joke span {
	font-size: 10px;
	color: #FFF;
}

#magic-ball a {
	background: #fff;
	padding: 8px;
	border-radius: 8px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
}

#magic-ball .vimeo-video-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 98%;
  height: 98%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	overflow:hidden;
	pointer-events: none;

	.vimeo-player {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 150%;
		height: 150%;
		opacity: 0;
		transition: opacity 100ms ease;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.vimeo-player.playback {
		opacity: 1;
	}
}

#magic-ball .predskazanie {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	padding: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity var(--transition) ease;

	.fake-country {
		color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
	}

	.fake-text {
		font-size: 12px;
		color: #FFF;
		text-align: center;
	}
}

#magic-ball .invisible {
	opacity: 0;
	pointer-events: none;
}

#magic-ball .visible {
	opacity: 1;
	pointer-events: all;
}

#magic-ball.no-events {
	pointer-events: none;
}