*, *:before, *:after {
    box-sizing: border-box;
}

section.coral .contenu {
    padding-block: calc(64px / 2);
}


.picture-banner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

@media (min-width: 1024px) {
    .picture-banner {
        flex-direction: row;
    }

    .picture-banner > * {
        width: calc(50% - 8px);
    }
}

.picture-banner .visual img {
    width: 100%;
    height: 100%;
    min-height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.picture-banner .content {
    border-radius: 20px;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

h3 {
    font-size: 32px;
    margin: 0 0 16px 0;
    line-height: 40px;
}

h5 {
    font-size: 20px;
    margin: 0 0 8px 0;
}

p {
    font-size: 16px;
    margin: 0;
    line-height: 24px;
}

.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.benefits-cards article {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: clip;
}

@media (min-width: 768px) {
    .benefits-cards article {
        width: calc(50% - 8px);
    }

    .benefits-cards article:last-child {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .benefits-cards article {
        width: calc(33% - 8px);
    }

    .benefits-cards article:nth-last-of-type(-n+2) {
        width: calc(50% - 8px);
    }

}

.benefits-cards article .visual img {
    min-height: 200px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    max-height: 240px;
}

.benefits-cards article .description {
    background: #FFFFFF;
    display: grid;
    grid-template-columns: min-content auto;
    padding: 24px;
    column-gap: 12px;
}


.benefits-cards article .description .icon {
    border-radius: 100%;
    background: #C2E4F6;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: span 2;
    align-self: center;
}

.benefits-cards article .description h5 {
    color: #0092D0;
}

.tabs-nav {
    display: flex;
    width: 100%;
    padding: 12px;
    border-radius: 48px;
    background: #FFF;
    margin-bottom: 32px;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-inline: 12px;

    > * {
        flex: 1 0 auto;
        display: flex;
        padding: 15px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 24px;
        background: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        scroll-snap-align: start;
    }
}

.tabs-nav button.js-active {
    background: #0093D0;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.js-active {
    display: block;
}

[data-tab-content="Турция"] .benefits-cards article {
    width: 100%;
}

@media (min-width: 768px) {
    [data-tab-content="Турция"] .benefits-cards article {
        width: calc(50% - 8px);
    }
}

@media (min-width: 1024px) {
    [data-tab-content="Турция"] .benefits-cards article {
        width: calc(33% - 8px);
    }
}


[data-tab-content="Египет"] .benefits-cards article {
    width: 100%;
}

@media (min-width: 768px) {
    [data-tab-content="Египет"] .benefits-cards article {
        width: calc(50% - 8px);
    }
}


[data-tab-content="Таиланд"] .benefits-cards article {
    width: 100%;
}

@media (min-width: 768px) {
    [data-tab-content="Таиланд"] .benefits-cards article {
        width: calc(50% - 8px);
    }

    [data-tab-content="Таиланд"] .benefits-cards article:last-child {
        width: 100%
    }
}

@media (min-width: 1024px) {
    [data-tab-content="Таиланд"] .benefits-cards article {
        width: calc(33% - 8px) !important;
    }
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 64px;
}

@media (max-width: 1024px) {
    .cards-container {
        flex-direction: column
    }
}

.hotel-card {
    display: flex;
    gap: 8px;
    width: calc(50% - 12px);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .06);
    background: #fff;
    padding: 8px
}

@media (max-width: 1024px) {
    .hotel-card {
        width: 100%
    }
}

@media (max-width: 475px) {
    .hotel-card {
        flex-direction: column
    }
}

.hotel-card .visual {
    border-radius: 8px;
    overflow: clip;
    width: calc(50% - 4px);
    position: relative
}

@media (max-width: 475px) {
    .hotel-card .visual {
        min-height: 200px;
        width: 100%
    }
}

.hotel-card .visual img {
    position: absolute;
    width: 100%;
    height: 100%
}

.hotel-card .content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4px)
}

@media (max-width: 475px) {
    .hotel-card .content {
        width: 100%
    }
}

section.hero > article .contenu .prime-btn--modefided {
    border-radius: 8px
}

.hotel-location {
    display: flex;
    gap: 4px;
    margin-bottom: 8px
}

.hotel-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px
}

.rating {
    margin-bottom: 12px
}

.hotel-dates {
    margin-bottom: 8px;
    background: #f6f6f6;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px
}

.hotel-dates .hotel-date {
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    cursor: pointer
}

.hotel-dates .hotel-date.js-active {
    border: 1px solid #2a92d0
}

.price {
    display: none
}

.price.js-active {
    display: block
}

.package {
    padding: 4px 8px;
    border-radius: 4px;
    background: #f3f3f3;
    margin-bottom: 8px;
    text-align: center
}

.meal {
    margin-bottom: 8px;
    margin-top: auto
}

@media (max-width: 1024px) {
    .meal {
        margin-top: 0
    }
}

.info-icons {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center
}

.info-icons .icon-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 0 0 auto
}

.info-icons .icon-wrapper .icon {
    width: 13px;
    height: 13px;
    flex-shrink: 0
}

.info-icons .icon-wrapper .icon svg {
    width: 100%;
    height: 100%
}

.cards-wrapper {
    position: relative
}

.loading-box {
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #888;
    animation: loadingFade 1.4s ease-in-out infinite
}

@keyframes loadingFade {
    0%, to {
        opacity: .3
    }
    50% {
        opacity: 1
    }
}

.rating {
    display: flex;
    gap: 4px;
}

.tabs-nav {
    overflow-x: auto; /* Или overflow-x: scroll; если нужно всегда показывать полосу прокрутки */
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}

.tabs-nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
}
