div[class*="HeaderMobile_rightGroup"] {
    display: flex;
    align-items: center;
}

div[class*="HeaderMenuBar_menu__"] {
    order: 1;
}

div[class*="HeaderMenuNonProductSearch_nonProductSearchContainer__"] {
    order: 3;
}

.swap-button {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 177 / 40;
    margin: 0;
    isolation: isolate;
}

.swap-button img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    border-radius: 50px;
    overflow: hidden;
    object-fit: contain;
}

.swap-button__picture_end {
    opacity: 0;
    pointer-events: none;
}

.swap-button.is-swapped .swap-button__picture_start {
    opacity: 0;
    pointer-events: none;
}

.swap-button.is-swapped .swap-button__picture_end {
    opacity: 1;
    pointer-events: auto;
}

.desktop-swap-wrapper {
    display: flex;
    align-items: center;
    width: 177px;
    flex-shrink: 0;
    margin-right: 16px;
    margin-left: auto;
    position: relative;
    order: 2;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[class*="HeaderMenuBar_container"]:has(#none-product-search-input) .desktop-swap-wrapper {
    transform: translateX(-316px);
}
