<div class="modal micromodal-slide" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modal-1-title"
		>
			<header class="modal__header">
				<div class="modal__poster modal-poster">
					<div class="modal-poster__img">
						<img src="#" />
					</div>
				</div>
				<button
					class="modal__close"
					aria-label="Закрыть модальное окно"
					data-micromodal-close
				></button>
			</header>
			<main class="modal__content">
				<h2 class="modal__headline"></h2>
				<p class="modal__title"></p>
			</main>
			<footer class="modal__footer">
				<button class="modal__btn modal__btn-primary">Continue</button>
				<button
					class="modal__btn prime-btn"
					data-micromodal-close
					aria-label="Закрыть модальное окно"
				>
					Close
				</button>
			</footer>
		</div>
	</div>
</div>
