:host {
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	padding: 7px 16px 7px 8px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 40px;
	width: fit-content;
	cursor: pointer;
	flex-shrink: 0;
	transition: border-color 0.3s ease;

	&:hover {
		border-color: rgb(216, 36, 42);
	}

	icon {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(
			90deg,
			rgb(231, 49, 125) 0%,
			rgb(216, 36, 42) 100%
		);
		border-radius: 100%;
	}

	.text > p {
		margin: 0;
		line-height: 1;
		font-weight: 600;
		font-size: 12px;
	}
}
