:root {
  --elite-primary: #B6985B;
}

.offre-vue .controls[data-v-958c26] {
  background: transparent;
  padding: 8px;
  backdrop-filter: unset;
  border-radius: 24px;
  gap: 16px;
}

.offre-vue .controls[data-v-958c26] .el-button-group button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: clip;
  border: none;
  padding: 0;
  background: #FFFFFF;
}

.offre-vue .controls[data-v-958c26] .el-button-group button .el-icon {
  display: flex;
  width: 100%;
  height: 100%;
}

.offre-vue .controls[data-v-958c26] .el-button-group button span {
  display: none;
}

.offre-vue .controls[data-v-958c26] .el-button-group button.el-button--primary {
  background: #B6985B;
}

.offre-vue .controls[data-v-958c26] .el-button-group button:nth-child(1):after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2032_3923)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.125 12.2917V16.8751H16.875V12.2917H3.125ZM1.875 12.1667C1.875 11.5454 2.37868 11.0417 3 11.0417H17C17.6213 11.0417 18.125 11.5454 18.125 12.1667V17.0001C18.125 17.6214 17.6213 18.1251 17 18.1251H3C2.37868 18.1251 1.875 17.6214 1.875 17.0001V12.1667Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.125 3.125V7.70833H16.875V3.125H3.125ZM1.875 3C1.875 2.37868 2.37868 1.875 3 1.875H17C17.6213 1.875 18.125 2.37868 18.125 3V7.83333C18.125 8.45465 17.6213 8.95833 17 8.95833H3C2.37868 8.95833 1.875 8.45465 1.875 7.83333V3Z' fill='%23FFFFFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2032_3923'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: invert(1);
}

.offre-vue .controls[data-v-958c26] .el-button-group button:nth-child(2) {
  margin-left: 8px;
}

.offre-vue .controls[data-v-958c26] .el-button-group button:nth-child(2):after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2032_3931)'%3E%3Cmask id='path-1-inside-1_2032_3931' fill='white'%3E%3Cpath d='M15.5554 1.66675H4.44428C3.70784 1.66762 3.0018 1.96055 2.48105 2.4813C1.96031 3.00204 1.66737 3.70808 1.6665 4.44453V15.5556C1.66737 16.2921 1.96031 16.9981 2.48105 17.5189C3.0018 18.0396 3.70784 18.3325 4.44428 18.3334H15.5554C16.2918 18.3325 16.9979 18.0396 17.5186 17.5189C18.0394 16.9981 18.3323 16.2921 18.3332 15.5556V4.44453C18.3323 3.70808 18.0394 3.00204 17.5186 2.4813C16.9979 1.96055 16.2918 1.66762 15.5554 1.66675ZM4.44428 2.77786H15.5554C15.9973 2.77834 16.4209 2.9541 16.7334 3.26655C17.0458 3.57901 17.2216 4.00265 17.2221 4.44453V7.13742L2.77762 5.07392V4.44453C2.7781 4.00265 2.95385 3.57901 3.26631 3.26655C3.57876 2.9541 4.0024 2.77834 4.44428 2.77786ZM2.77762 15.5556V6.19608L8.79984 7.05641L6.7665 17.2223H4.44428C4.0024 17.2218 3.57876 17.0461 3.26631 16.7336C2.95385 16.4212 2.7781 15.9975 2.77762 15.5556ZM15.5554 17.2223H7.89984L9.90162 7.2138L17.2221 8.25958V15.5556C17.2216 15.9975 17.0458 16.4212 16.7334 16.7336C16.4209 17.0461 15.9973 17.2218 15.5554 17.2223Z'/%3E%3C/mask%3E%3Cpath d='M15.5554 1.66675H4.44428C3.70784 1.66762 3.0018 1.96055 2.48105 2.4813C1.96031 3.00204 1.66737 3.70808 1.6665 4.44453V15.5556C1.66737 16.2921 1.96031 16.9981 2.48105 17.5189C3.0018 18.0396 3.70784 18.3325 4.44428 18.3334H15.5554C16.2918 18.3325 16.9979 18.0396 17.5186 17.5189C18.0394 16.9981 18.3323 16.2921 18.3332 15.5556V4.44453C18.3323 3.70808 18.0394 3.00204 17.5186 2.4813C16.9979 1.96055 16.2918 1.66762 15.5554 1.66675ZM4.44428 2.77786H15.5554C15.9973 2.77834 16.4209 2.9541 16.7334 3.26655C17.0458 3.57901 17.2216 4.00265 17.2221 4.44453V7.13742L2.77762 5.07392V4.44453C2.7781 4.00265 2.95385 3.57901 3.26631 3.26655C3.57876 2.9541 4.0024 2.77834 4.44428 2.77786ZM2.77762 15.5556V6.19608L8.79984 7.05641L6.7665 17.2223H4.44428C4.0024 17.2218 3.57876 17.0461 3.26631 16.7336C2.95385 16.4212 2.7781 15.9975 2.77762 15.5556ZM15.5554 17.2223H7.89984L9.90162 7.2138L17.2221 8.25958V15.5556C17.2216 15.9975 17.0458 16.4212 16.7334 16.7336C16.4209 17.0461 15.9973 17.2218 15.5554 17.2223Z' fill='black' fill-opacity='0.85'/%3E%3Cpath d='M15.5554 1.66675L15.5572 0.166748H15.5554V1.66675ZM4.44428 1.66675V0.166747L4.44251 0.166749L4.44428 1.66675ZM2.48105 2.4813L3.54171 3.54196L3.54171 3.54196L2.48105 2.4813ZM1.6665 4.44453L0.166504 4.44276V4.44453H1.6665ZM1.6665 15.5556H0.166503L0.166505 15.5574L1.6665 15.5556ZM2.48105 17.5189L3.54172 16.4582L3.54171 16.4582L2.48105 17.5189ZM4.44428 18.3334L4.44251 19.8334H4.44428V18.3334ZM15.5554 18.3334V19.8334L15.5572 19.8334L15.5554 18.3334ZM17.5186 17.5189L16.458 16.4582L16.458 16.4582L17.5186 17.5189ZM18.3332 15.5556L19.8332 15.5574V15.5556H18.3332ZM18.3332 4.44453H19.8332L19.8332 4.44276L18.3332 4.44453ZM17.5186 2.4813L16.458 3.54196L16.458 3.54196L17.5186 2.4813ZM4.44428 2.77786V1.27786L4.44263 1.27786L4.44428 2.77786ZM15.5554 2.77786L15.557 1.27786H15.5554V2.77786ZM16.7334 3.26655L17.794 2.20589L17.794 2.20589L16.7334 3.26655ZM17.2221 4.44453H18.7221L18.7221 4.44288L17.2221 4.44453ZM17.2221 7.13742L17.0099 8.62234L18.7221 8.86693V7.13742H17.2221ZM2.77762 5.07392H1.27762V6.37486L2.56548 6.55884L2.77762 5.07392ZM2.77762 4.44453L1.27762 4.44288V4.44453H2.77762ZM2.77762 15.5556H1.27761L1.27762 15.5573L2.77762 15.5556ZM2.77762 6.19608L2.98975 4.71116L1.27762 4.46656V6.19608H2.77762ZM8.79984 7.05641L10.2707 7.35061L10.5817 5.79574L9.01197 5.57149L8.79984 7.05641ZM6.7665 17.2223V18.7223H7.99619L8.23737 17.5165L6.7665 17.2223ZM4.44428 17.2223L4.44264 18.7223H4.44428V17.2223ZM3.26631 16.7336L2.20565 17.7943L2.20565 17.7943L3.26631 16.7336ZM15.5554 17.2223V18.7223L15.557 18.7223L15.5554 17.2223ZM7.89984 17.2223L6.42897 16.9281L6.07012 18.7223H7.89984V17.2223ZM9.90162 7.2138L10.1137 5.72888L8.70904 5.52821L8.43075 6.91962L9.90162 7.2138ZM17.2221 8.25958H18.7221V6.95864L17.4342 6.77466L17.2221 8.25958ZM17.2221 15.5556L18.7221 15.5573V15.5556H17.2221ZM16.7334 16.7336L17.794 17.7943L17.794 17.7943L16.7334 16.7336ZM15.5554 1.66675V0.166748H4.44428V1.66675V3.16675H15.5554V1.66675ZM4.44428 1.66675L4.44251 0.166749C3.30886 0.168084 2.22201 0.61902 1.42039 1.42064L2.48105 2.4813L3.54171 3.54196C3.78159 3.30208 4.10681 3.16715 4.44605 3.16675L4.44428 1.66675ZM2.48105 2.4813L1.42039 1.42064C0.618776 2.22226 0.16784 3.3091 0.166505 4.44276L1.6665 4.44453L3.1665 4.44629C3.1669 4.10706 3.30184 3.78183 3.54171 3.54196L2.48105 2.4813ZM1.6665 4.44453H0.166504V15.5556H1.6665H3.1665V4.44453H1.6665ZM1.6665 15.5556L0.166505 15.5574C0.16784 16.6911 0.618776 17.7779 1.42039 18.5795L2.48105 17.5189L3.54171 16.4582C3.30184 16.2183 3.1669 15.8931 3.1665 15.5539L1.6665 15.5556ZM2.48105 17.5189L1.42039 18.5795C2.22201 19.3811 3.30886 19.8321 4.44251 19.8334L4.44428 18.3334L4.44605 16.8334C4.10681 16.833 3.78159 16.6981 3.54172 16.4582L2.48105 17.5189ZM4.44428 18.3334V19.8334H15.5554V18.3334V16.8334H4.44428V18.3334ZM15.5554 18.3334L15.5572 19.8334C16.6908 19.8321 17.7777 19.3811 18.5793 18.5795L17.5186 17.5189L16.458 16.4582C16.2181 16.6981 15.8929 16.833 15.5536 16.8334L15.5554 18.3334ZM17.5186 17.5189L18.5793 18.5795C19.3809 17.7779 19.8318 16.6911 19.8332 15.5574L18.3332 15.5556L16.8332 15.5539C16.8328 15.8931 16.6978 16.2183 16.458 16.4582L17.5186 17.5189ZM18.3332 15.5556H19.8332V4.44453H18.3332H16.8332V15.5556H18.3332ZM18.3332 4.44453L19.8332 4.44276C19.8318 3.3091 19.3809 2.22226 18.5793 1.42064L17.5186 2.4813L16.458 3.54196C16.6978 3.78183 16.8328 4.10706 16.8332 4.44629L18.3332 4.44453ZM17.5186 2.4813L18.5793 1.42064C17.7777 0.61902 16.6908 0.168084 15.5572 0.166749L15.5554 1.66675L15.5536 3.16675C15.8929 3.16715 16.2181 3.30208 16.458 3.54196L17.5186 2.4813ZM4.44428 2.77786V4.27786H15.5554V2.77786V1.27786H4.44428V2.77786ZM15.5554 2.77786L15.5537 4.27786C15.5984 4.27791 15.6412 4.29566 15.6727 4.32721L16.7334 3.26655L17.794 2.20589C17.2007 1.61253 16.3962 1.27878 15.557 1.27786L15.5554 2.77786ZM16.7334 3.26655L15.6727 4.32721C15.7043 4.35877 15.722 4.40155 15.7221 4.44617L17.2221 4.44453L18.7221 4.44288C18.7211 3.60374 18.3874 2.79925 17.794 2.20589L16.7334 3.26655ZM17.2221 4.44453H15.7221V7.13742H17.2221H18.7221V4.44453H17.2221ZM17.2221 7.13742L17.4342 5.65249L2.98975 3.58899L2.77762 5.07392L2.56548 6.55884L17.0099 8.62234L17.2221 7.13742ZM2.77762 5.07392H4.27762V4.44453H2.77762H1.27762V5.07392H2.77762ZM2.77762 4.44453L4.27761 4.44617C4.27766 4.40155 4.29541 4.35877 4.32697 4.32721L3.26631 3.26655L2.20565 2.20589C1.61229 2.79925 1.27854 3.60375 1.27762 4.44288L2.77762 4.44453ZM3.26631 3.26655L4.32697 4.32721C4.35852 4.29566 4.4013 4.27791 4.44593 4.27786L4.44428 2.77786L4.44263 1.27786C3.6035 1.27878 2.799 1.61253 2.20565 2.20589L3.26631 3.26655ZM2.77762 15.5556H4.27762V6.19608H2.77762H1.27762V15.5556H2.77762ZM2.77762 6.19608L2.56548 7.68101L8.5877 8.54134L8.79984 7.05641L9.01197 5.57149L2.98975 4.71116L2.77762 6.19608ZM8.79984 7.05641L7.32897 6.76222L5.29564 16.9281L6.7665 17.2223L8.23737 17.5165L10.2707 7.35061L8.79984 7.05641ZM6.7665 17.2223V15.7223H4.44428V17.2223V18.7223H6.7665V17.2223ZM4.44428 17.2223L4.44593 15.7223C4.40131 15.7223 4.35852 15.7045 4.32697 15.673L3.26631 16.7336L2.20565 17.7943C2.799 18.3876 3.6035 18.7214 4.44264 18.7223L4.44428 17.2223ZM3.26631 16.7336L4.32697 15.673C4.29541 15.6414 4.27766 15.5986 4.27761 15.554L2.77762 15.5556L1.27762 15.5573C1.27854 16.3964 1.61229 17.2009 2.20565 17.7943L3.26631 16.7336ZM15.5554 17.2223V15.7223H7.89984V17.2223V18.7223H15.5554V17.2223ZM7.89984 17.2223L9.37071 17.5165L11.3725 7.50799L9.90162 7.2138L8.43075 6.91962L6.42897 16.9281L7.89984 17.2223ZM9.90162 7.2138L9.68948 8.69873L17.0099 9.74451L17.2221 8.25958L17.4342 6.77466L10.1137 5.72888L9.90162 7.2138ZM17.2221 8.25958H15.7221V15.5556H17.2221H18.7221V8.25958H17.2221ZM17.2221 15.5556L15.7221 15.554C15.722 15.5986 15.7043 15.6414 15.6727 15.673L16.7334 16.7336L17.794 17.7943C18.3874 17.2009 18.7211 16.3964 18.7221 15.5573L17.2221 15.5556ZM16.7334 16.7336L15.6727 15.673C15.6412 15.7045 15.5984 15.7223 15.5537 15.7223L15.5554 17.2223L15.557 18.7223C16.3962 18.7214 17.2007 18.3876 17.794 17.7943L16.7334 16.7336Z' fill='black' fill-opacity='0.85' mask='url(%23path-1-inside-1_2032_3931)'/%3E%3Cpath d='M13.6999 8.35075C13.4558 8.32742 13.21 8.32742 12.9659 8.35075C12.1776 8.44116 11.4474 8.80183 10.9051 9.36874C10.3628 9.93564 10.0435 10.6721 10.0037 11.4475C9.96464 12.277 10.235 13.0922 10.7646 13.7414L12.8822 16.4485C12.9352 16.5163 13.0034 16.5712 13.0816 16.6091C13.1599 16.6469 13.246 16.6666 13.3332 16.6666C13.4205 16.6666 13.5066 16.6469 13.5848 16.6091C13.663 16.5712 13.7313 16.5163 13.7842 16.4485L15.9019 13.7414H15.9024C16.4315 13.092 16.7018 12.2769 16.663 11.4475C16.6232 10.672 16.3037 9.93542 15.7613 9.36849C15.2188 8.80156 14.4885 8.44098 13.6999 8.35075ZM14.9992 13.0664L13.3332 15.1965L11.6672 13.0664C11.3055 12.6317 11.1173 12.0835 11.1374 11.5234C11.1606 11.0103 11.3683 10.5216 11.7238 10.1435C12.0793 9.76543 12.5599 9.52218 13.0808 9.45664C13.1647 9.44816 13.2489 9.44395 13.3332 9.44403C13.4173 9.44394 13.5014 9.44802 13.5851 9.45625C14.1062 9.52179 14.5868 9.76507 14.9424 10.1432C15.298 10.5214 15.5058 11.0101 15.529 11.5234C15.5492 12.0835 15.3609 12.6317 14.9992 13.0664Z' fill='black' fill-opacity='0.85'/%3E%3Cpath d='M13.002 8.6731C13.2218 8.65241 13.4433 8.65246 13.6631 8.6731V8.67407C14.3771 8.7558 15.0371 9.08172 15.5264 9.59302C16.0149 10.1035 16.3015 10.7656 16.3379 11.4612V11.4622C16.3724 12.1997 16.1348 12.9245 15.6699 13.5081L15.6455 13.5413L13.5283 16.2483C13.5063 16.2765 13.4772 16.3003 13.4434 16.3167C13.4095 16.333 13.3715 16.342 13.333 16.342C13.2946 16.342 13.2565 16.333 13.2227 16.3167C13.206 16.3086 13.1907 16.2986 13.1768 16.2874L13.1387 16.2483L11.0205 13.5413L11.0166 13.5364L10.8477 13.3088C10.4806 12.7643 10.2976 12.1188 10.3281 11.4641C10.3638 10.7675 10.6506 10.1042 11.1396 9.59302C11.6288 9.08167 12.289 8.75596 13.0029 8.67407L13.002 8.6731ZM13.0479 9.13306L13.04 9.13403C12.4451 9.20893 11.8952 9.48732 11.4873 9.92114C11.0792 10.3552 10.8393 10.9174 10.8125 11.509V11.512C10.7924 12.0726 10.9554 12.6217 11.2725 13.0823L11.417 13.2747L13.0771 15.3967L13.333 15.7239L13.5889 15.3967L15.249 13.2747C15.6613 12.7792 15.8765 12.1527 15.8535 11.512V11.509L15.834 11.2883C15.7646 10.7784 15.5359 10.3 15.1787 9.92017C14.7708 9.48658 14.2207 9.20893 13.626 9.13403L13.6172 9.13306L13.333 9.11938C13.2379 9.11931 13.1425 9.12348 13.0479 9.13306Z' stroke='black' stroke-opacity='0.85' stroke-width='0.65'/%3E%3Cpath d='M13.3333 12.4999C13.7936 12.4999 14.1667 12.1268 14.1667 11.6666C14.1667 11.2063 13.7936 10.8333 13.3333 10.8333C12.8731 10.8333 12.5 11.2063 12.5 11.6666C12.5 12.1268 12.8731 12.4999 13.3333 12.4999Z' fill='black' fill-opacity='0.85'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2032_3931'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.offre-vue .controls[data-v-958c26] .el-button-group button.el-button--primary:nth-child(1):after {
  filter: invert(0);
}

.offre-vue .controls[data-v-958c26] .el-button-group button.el-button--primary:nth-child(2):after {
  filter: invert(1);
}

.el-affix--fixed .controls[data-v-958c26] {
  background: #5a5451;
  margin-top: 16px;
}

.region-select[data-v-28cc23] {
  background: transparent;
  border-radius: 0;
}

.region-select ul[data-v-28cc23] {
  scroll-behavior: smooth;
}

.region-select ul > li[data-v-28cc23] {
  padding: 12px 20px;
  height: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.el-select-dropdown__list {
  margin: 0 !important;
}

.el-select-dropdown__item.selected {
  color: var(--elite-primary) !important;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: rgb(248 246 243) !important;
}

.el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--elite-primary) inset !important;
}

.region-select ul > li.selected[data-v-28cc23] {
  border-radius: 16px;
  background: #B6985B;
}

.offre-vue .el-select .el-input__wrapper {
  border-radius: 8px;
  background: var(--colorBgContainer, #FFF);
  border: none;
  box-shadow: none;
  padding: 4px 16px;
  max-width: 174px;
  gap: 8px;
}

.offre-vue .el-select .el-input__wrapper:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}

.offre-vue .el-select .el-input__wrapper input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}

.offre-vue .el-select .el-input__wrapper .el-input__suffix {
  width: 24px;
  height: 24px;
}

.offre-vue .el-select .el-input__wrapper .el-input__suffix span {
  width: 24px;
  height: 24px;
}

.offre-vue .el-select .el-input__wrapper .el-input__suffix span i {
  width: inherit;
  height: inherit;
}

.offre-vue .el-select .el-input__wrapper .el-input__suffix span i svg {
  width: inherit;
  height: inherit;
}

.offre-vue .el-select .el-input__wrapper .el-input__suffix span i svg path {
  fill: #000000;
}

.offre-vue .controls[data-v-958c26] .el-select:nth-child(2) .el-input__wrapper:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M6.5 4.00008L7.79399 1.4121C8.02239 0.9553 8.48928 0.666748 9 0.666748V0.666748C9.51072 0.666748 9.97761 0.955301 10.206 1.4121L11.5 4.00008L9.9367 16.5065C9.87765 16.9789 9.47607 17.3334 9 17.3334V17.3334C8.52393 17.3334 8.12235 16.9789 8.0633 16.5065L6.5 4.00008Z' stroke='%23535353' stroke-linejoin='round'/%3E%3Cpath d='M6.49984 4.83325L0.666504 7.74992V10.2499H6.9165' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.5002 4.83325L17.3335 7.74992V10.2499H11.0835' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.75 14.8333L4 15.6666V17.3333H9' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.25 14.8333L14 15.6666V17.3333H9' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.offre-vue .controls[data-v-958c26] .el-select:nth-child(3) .el-input__wrapper:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16' fill='none'%3E%3Crect x='0.666504' y='2.16675' width='16.6667' height='13.3333' rx='2' stroke='%23535353' stroke-linejoin='round'/%3E%3Cpath d='M0.666504 4.16675C0.666504 3.06218 1.56193 2.16675 2.6665 2.16675H15.3332C16.4377 2.16675 17.3332 3.06218 17.3332 4.16675V6.33341H0.666504V4.16675Z' stroke='%23535353' stroke-linejoin='round'/%3E%3Cpath d='M3.1665 3.41667V0.5' stroke='%23535353'/%3E%3Cpath d='M9 3.41667V0.5' stroke='%23535353'/%3E%3Cpath d='M14.8335 3.41667V0.5' stroke='%23535353'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.product-grid .el-affix {
  margin-top: 16px;
}

.product-grid .el-affix .pager[data-v-0a8f7f] {
  background: transparent;
  padding: 8px;
  width: fit-content;
  margin: 0 auto;
  backdrop-filter: unset;
  border-radius: 16px;
  gap: 16px;
}

.product-grid .el-affix .pager[data-v-0a8f7f] .el-pager .number {
  width: 40px;
  height: 40px;
  padding: 16px;
  border-radius: 8px;
  background: #FFFFFF;
}

.product-grid .el-affix .pager[data-v-0a8f7f] .el-pager .number.is-active {
  background: #B6985B;
}

.product-grid .el-affix .pager[data-v-0a8f7f] .is-first, .product-grid .el-affix .pager[data-v-0a8f7f] .is-last, .product-grid .el-affix .pager[data-v-0a8f7f] .btn-quicknext {
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.product-grid .el-affix .pager[data-v-0a8f7f] .is-first[disabled] {
  background: #665d52;
}

.product-grid .el-affix--fixed {
  margin-bottom: 16px;
  height: 48px !important;
}

.product-grid .el-affix--fixed .pager[data-v-0a8f7f] {
  background: #5a5451;
}

.product-card .details h3.name[data-v-7267af] {
  font-family: TrajanPro3Regular, sans-serif;
}

.product-card .pricing .tour-type button.selected[data-v-7267af] {
  background: var(--elite-primary);
  color: white;
  border: 1px solid var(--elite-primary);
}

.product-card .pricing .tour-info .price-discount .price .final-price[data-v-7267af] {
  color: var(--elite-primary);
}

.product-card .pricing .tour-info .price-discount .discount[data-v-7267af] {
  background: var(--elite-primary);
}

.product-card .pricing .tour-info .price-discount .discount[data-v-7267af]:after {
  background: linear-gradient(to bottom right, #957431 50%, transparent 55%);
}

.product-card .pricing .tour-info .cashback[data-v-7267af] {
  background: #F8F6F3;
}

.product-card .pricing .tour-info .do-choose[data-v-7267af] {
  background: #262626;
}
