div[class*="StatusLayout_statusLayout__"] {
    display: none;
}

.row-container.layout-container-limit.center {
    overflow-x: visible;
}

.hot-deals-block {
    position: relative;
}

.hot-deals-block .layout-container-limit.center {
    z-index: 1;
    position: relative;
}

.hot-deals-block:before {
    content: "";
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff7e6;
    z-index: 1;
}

.not-found__inner {
    display: flex;
    flex-direction: column-reverse;
    min-height: 400px;
    padding-block: 24px;
}

.not-found__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-block: 16px;
}

.not-found__code {
    color: #E84F0E;
    font-size: 100px;
    font-weight: 300;
    line-height: 110%;
}

body h1.not-found__title {
    color: #000;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.not-found__description {
    font-size: 16px;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.not-found__actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

a.not-found__button,
button.not-found__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 32px;
    border: 1px solid transparent;
    border-radius: 40px;

    font-family: inherit;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;

    background: transparent;
    cursor: pointer;
    appearance: none;

    font-weight: 600;

    transition: all .3s ease;
}

a.not-found__button--primary,
button.not-found__button--primary {
    background: linear-gradient(245deg, var(--Gradients-color_Gradinet_Primary_Second, #D8242A) 15.84%, var(--Gradients-color_Gradient_Primary_First, #E7317D) 84.16%);
    color: #FFFFFF;
    border: none;
}


a.not-found__button--primary:hover,
button.not-found__button--primary:hover {
    background: var(--gradient_Primary_Hover, linear-gradient(245deg, var(--Gradient-color_Gradient_Primary_First, #E7317D) 15.84%, var(--Gradient-color_Gradinet_Primary_Second, #D8242A) 84.16%));
}

a.not-found__button--secondary,
button.not-found__button--secondary {
    border-color: rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    color: #000000;
}

.not-found__media {
    max-height: 400px;
    max-width: 400px;
    margin: 0 auto;
}

.not-found__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a.not-found__button--secondary:hover, button.not-found__button--secondary:hover {
    background: #12336C;
    color: #FFFFFF;
}

@media (max-width: 993px) {
    .not-found__inner {
        padding-inline: 16px;
    }

    .not-found__media {
        margin: 0 auto;
    }

    .not-found__media {
        max-height: 200px;
        max-width: 200px;
    }
}

@media (max-width: 425px) {
    .not-found__actions {
        flex-direction: column;
    }
}
