.lead-form-bitrix-toogle {
	border-radius: 16px;
	border: 1px solid #077DAD;
	background: #ECF3F9;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	width: 100%;
	margin-block: 10px;
}

.lead-form-bitrix-toogle > span {
	vertical-align: center;
}

.b24-form-click-btn {
	padding: 8px 12px !important;
	border-radius: 12px !important;
	background: #0092D0 !important;
	color: #fff !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}