.subscribe-form {
    padding: 16px;
}

.subscribe {
    padding: 16px;
    background: #0e2855;
    border-radius: 16px;
    overflow: clip;
}

.subscribe-form__content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe-form__visual {
    width: 116px;
    height: 90px;
    margin: 0 auto;
}

.subscribe-form__visual img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.subscribe-form__title {
    color: var(--Text-olor_Text_Light, #FFF);
    text-align: center;
    margin: 0 0 16px 0;
    font-size: var(--Font-Size-font_Size_Heading_5, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-heights-Line_Height_font_Size_Heading_5, 28px); /* 116.667% */
}

.subscribe-form__subtitle {
    color: var(--Text-olor_Text_Light, #FFF);
    text-align: center;
    font-size: var(--Font-Size-font_Size_N, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-heights-Line_Height_font_Size_N, 24px); /* 150% */
    margin: 0 0 24px 0;
    display: block;
}

/* =========================
   ПОЛЕ ВВОДА
   ========================= */
.subscribe-form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.subscribe-form__field--checkbox {
    flex-direction: row;
    align-items: center;
}

.subscribe-form__label {
    display: flex;
    align-items: center;
    height: 100%;
}

.subscribe-form__input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #000000;
    border-radius: 12px;
    border: 1px solid var(--colorBorder, rgba(0, 0, 0, 0.15));
    background: var(--colorBgContainer, #FFF);
}

.subscribe-form__input::placeholder {
    color: var(--colorTextLabel, rgba(0, 0, 0, 0.65));
}

.subscribe-form__invalid-text {
    display: none;
}

/* =========================
   КНОПКА
   ========================= */
.subscribe-form__button {
    border-radius: 40px;
    border: none;
    padding: var(--padding-padding_S, 12px) var(--padding-padding_XL, 32px);
    background: var(--gradient_Primary, linear-gradient(245deg, var(--Gradient-color_Gradinet_Primary_Second, #D8242A) 15.84%, var(--Gradient-color_Gradient_Primary_First, #E7317D) 84.16%));
    color: var(--Button-color_Bth_Text_Light, #FFF);
    text-align: center;
    font-size: var(--Font-Size-font_Size_N, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
}

/* =========================
   ЧЕКБОКС
   ========================= */
.subscribe-form__custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: block;
    border: 1px solid #FFFFFF;
}

.subscribe-form__checkbox:checked + .subscribe-form__custom-checkbox {
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.98 8.313a.5.5 0 0 1 .707 0L6 10.626l6.313-6.313a.5.5 0 1 1 .707.707l-6.666 6.667a.5.5 0 0 1-.708 0L2.98 9.02a.5.5 0 0 1 0-.707' fill='%232e3465'/%3E%3C/svg%3E"), #FFFFFF;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

/* =========================
   ТЕКСТ И ССЫЛКИ
   ========================= */
.subscribe-form__text {
    color: var(--Text-olor_Text_Light, #FFF);
    font-size: var(--Font-Size-font_Size_S, 12px);
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: var(--Line-heights-Line_Height_font_Size_S, 20px);
}


.subscribe-form__link {
    color: inherit;
}

/* =========================
   THANK YOU ЭКРАН
   ========================= */
.subscribe-form__thankyou {
}

.subscribe-form__thankyou-title {
}

.subscribe-form__thankyou-subtitle {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: 769px) {
    .subscribe {
        min-height: 132px;
        display: flex;
    }

    .subscribe-form__content {
        flex-direction: row;
        flex: 1;
    }

    .subscribe-form__text {
        display: flex;
        flex-direction: column;
    }

    .subscribe-form__fields {
        display: flex;
        flex-direction: column;
        margin-left: 34px;
        gap: 12px;
        flex: 1;
    }

    .checkboxes {
        gap: 8px;
    }

    .subscribe-form__visual {
        flex-shrink: 0;
    }

    .subscribe-form__title {
        margin: 0 0 8px 0;
        text-align: left;
    }

    .subscribe-form__subtitle {
        margin: 0;
        text-align: left;
        align-self: start;
    }

    .subscribe-form__field {
        grid-area: input;
        display: grid;
        grid-template-columns: auto 186px;
        margin: 0;
        align-self: end;
    }

    .subscribe-form__field--checkbox {
        display: flex;
        margin: 0;
        align-self: start;
        width: 100%;
    }

    .subscribe__text--confident {
        width: 100%;
        flex-direction: row;
    }

    .subscribe-form__text {
        text-align: left;
    }

    .subscribe-form__visual {
        width: 187px;
        position: relative;
        margin: 0;
    }

    .subscribe-form__visual img {
        position: absolute;
        bottom: -34px;
        left: -20px;
        height: 123px;
    }
}


/* =========================
   СОСТОЯНИЕ УСПЕХА
   ========================= */
#popmechanic-form .popmechanic-thankyou {
    display: none;
}

.popmechanic-success #popmechanic-form .popmechanic-main {
    display: none !important;
}

.popmechanic-success #popmechanic-form .popmechanic-thankyou {
    display: block;
    padding-block: 64px;
}
