.mindbox-experiment {
  box-sizing: border-box;
  width: 100%;

  /* Декоративные стили для теста */
  background-color: #f0f8ff;
  padding: 20px;
  border: 2px dashed #0088cc;
  border-radius: 8px;
}

.mindbox-experiment input {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}