sunmar-popup {
	font-family: inherit;
	font-size: clamp(12px, 3vw, 14px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	display: flex;
	align-items: start;
	justify-content: center;
}
sunmar-popup:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
	background: #0000007f;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	opacity: 0;
	transition: opacity 0.3s ease;
}
sunmar-popup.js-show:after {
	opacity: 1;
}
sunmar-popup .content {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	position: relative;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: grid;
}
sunmar-popup .content .content__body {
	margin-block: 3em;
	margin-inline: 1em;
	position: relative;
	width: min(90%, 422px);
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: translateY(-25%);
	opacity: 0;
	background: #fff;
	height: fit-content;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-self: center;
	box-shadow: 0 9px 28px 8px #0000000d, 0 3px 6px -4px #0000001f,
		0 6px 16px #00000014;
}
sunmar-popup .content .content__img > img {
	border-radius: 20px;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
sunmar-popup .content .content__conditions {
	--content_padding: 2em;
	padding: 0 var(--content_padding) var(--content_padding)
		var(--content_padding);
	display: flex;
	flex-direction: column;
	gap: 1em;
}
sunmar-popup .content .content__conditions h3 {
	font-size: 2em;
	margin: 0;
	text-align: center;
	font-weight: 500 !important;
}
sunmar-popup .content .content__conditions p {
	font-size: 0.8em;
	margin: 0;
}
sunmar-popup .content .content__conditions p:not(.attention) {
	text-align: center;
	font-size: 1em;
}
sunmar-popup .content .content__conditions ul {
	padding-left: 2em;
	gap: 0.3em;
	display: flex;
	flex-direction: column;
	font-size: 1em;
	margin: 0;
}
sunmar-popup button.close {
	--btn-size: 40px;
	position: absolute;
	top: -20px;
	right: -17px;
	opacity: 0.9;
	background: #fff;
	border: none;
	width: fit-content;
	margin: 0;
	padding: 0;
	width: var(--btn-size);
	flex-shrink: 0;
	align-self: end;
	height: var(--btn-size);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	opacity: 1;
}
sunmar-popup [data-close]:hover {
	cursor: pointer;
	opacity: 1;
}
sunmar-popup [data-close] > svg {
	width: 50%;
	height: 50%;
}
sunmar-popup .content .prime-btn {
	font-size: 16px;
	line-height: 1.5;
	padding: 11px 15px;
	display: flex;
	align-items: center;
	min-width: 160px;
	border-radius: 50px;
	background: linear-gradient(
		90deg,
		rgb(231, 49, 125) 0%,
		rgb(216, 36, 42) 100%
	);
	color: white;
	justify-content: center;
	border: none;
}
sunmar-popup .content .prime-btn:hover {
	background: linear-gradient(
		90deg,
		rgb(216, 36, 42) 100%,
		rgb(231, 49, 125) 0%
	);
}
@media (max-width: 768px) {
	sunmar-popup .content .content__body {
		margin-inline-start: 1em;
		margin-inline-end: 1.5em;
	}
	sunmar-popup button.close {
		top: -15px;
		right: -15px;
	}
}
sunmar-popup .img-wrapper {
	position: relative;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}
sunmar-popup .vimeo-video-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 500ms ease;
}

sunmar-popup .vimeo-video-box.playback {
	opacity: 1;
}

sunmar-popup span.erid {
	position: absolute;
	bottom: 1em;
	text-align: center;
	font-size: 0.8em;
	width: 100%;
	color: #fff;
	z-index: 5;
}

sunmar-popup .condition-wrapper ul.collapse {
	display: none;
}

sunmar-popup .condition-wrapper {
	display: flex;
	flex-direction: column;
}

sunmar-popup .condition-wrapper #conditions {
	background: transparent;
	border: none;
	cursor: pointer;
	margin-inline: auto;
}

sunmar-popup .condition-wrapper #conditions.hidden {
	display: none;
	pointer-events: none;
}

sunmar-popup [data-vimeo] {
	width: 100%;
	height: 100%;
	position: relative;
}

sunmar-popup [data-vimeo] > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

sunmar-popup .img-wrapper .poster {
	max-height: 263px;
}

sunmar-popup .img-wrapper .poster > img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

sunmar-popup strong {
	color: rgb(216, 36, 42);
}
