@use "variables" as v;

@mixin form-standard{
  border-radius: v.$form-gap;
  border: 3px solid v.$border-color;
  gap: v.$form-gap;
}

@mixin block-standard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
}