.b24-form-wrapper.b24-form-border-bottom {
  border-bottom: 5px solid #0093D0 !important;
  border-radius: 20px;
}

.b24-form-header.b24-form-padding-side {
  position: relative;
  padding-top: 80px;
  background-image: url(https://b2ccdn.coral.ru/content/logos/main_current_31012024134246.svg);
  background-size: 167px 35px;
  background-repeat: no-repeat;
  background-position: center 24px;
}

.b24-form-btn {
  background: #0093D0 !important;
  color: #FFFFFF !important;
  border-radius: 12px !important;
}

.b24-form {
  padding: 16px;
}
