.welcome-to-app {
    background: rgb(0, 107, 153);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    padding: 13px 0 13px 13px;
}

.welcome-to-app.sunmar {
    background: rgb(29, 31, 59);
}

.welcome-to-app.js-hidden {
    display: none;
}

.welcome-to-app__logo {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
}

.welcome-to-app__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.welcome-to-app__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(255, 255, 255);
}

.welcome-to-app__download {
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    display: grid;
    column-gap: 6px;
    padding: 4px 7px;
    grid-template-columns: max-content auto;
}

.welcome-to-app__download span {
    font-size: 7px;
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: left;
}

.welcome-to-app__download svg {
    grid-row: span 2;
    align-self: center;
}

.welcome-to-app__download .welcome-to-app__store {
    font-size: 11px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.welcome-to-app__download.js-hidden {
    display: none;
}

.welcome-to-app__close {
    height: 40px;
    width: 40px;
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
