$ids: 1982, 8230, 2018, 51447, 35893, 6010, 2060, 2133, 2066, 2121, 5780,
28913, 9835, 80328, 7693, 52477, 74235, 52699, 3655, 3724, 51818,
80625, 11782, 56922, 6969, 8231, 16441, 3707, 3719, 3734, 72544,
16492, 2548, 63053, 11873, 1094, 9225, 74621, 52245, 24096, 47176,
7469, 4027, 75746, 6417, 19632, 11923, 77340, 74892, 57071, 31196,
6485, 2212, 23379, 30091, 29782, 2341, 2360, 27282, 23394, 2466,
4854, 27144, 2480, 2379, 2378, 11047, 23513, 77126, 11440, 30585,
31527, 31051, 28145, 54604, 36521, 13318, 26465, 7568, 3744, 4085,
57, 56, 35583, 96, 9100, 42, 4087, 99, 98, 119, 142, 124, 126, 127,
101, 129, 131, 132, 14774, 3916, 133, 134, 35252, 34314, 24733,
3928, 35251, 6257, 7427, 15577, 6531, 45, 78, 46, 19937, 64, 158,
71, 74242, 144, 30463, 19935, 173, 77638, 73959, 50000, 106, 9117,
78607, 49757, 983, 453, 11754, 590, 492, 848, 26887, 29449, 73847,
580, 961, 12783, 74717, 28340, 8384, 9917, 345, 21878, 34014, 58746,
3795, 3809, 21953, 76938, 22742, 749, 748, 8232, 3815, 55032,
11013, 21601, 78308, 8028, 874, 906, 703, 28155, 6536, 55003,
25372, 311, 682, 31177, 20891, 20890, 17117, 36347, 779, 778,
22140, 597, 3788, 3789, 9481, 75441, 35635, 7564, 9941, 9942, 484,
64866, 14148, 21839, 10276, 30001, 52368, 9984, 30617, 47497, 746,
745, 24420, 10342, 34121, 22014, 50446, 8748, 16482, 16483, 52524,
52525, 52518, 52526, 27679, 36190, 4486, 525, 893, 947, 52527, 486,
6651, 929, 679, 49659, 29657, 841, 293, 30532, 603, 8196, 10610,
793, 30533, 9246, 9897, 975, 460, 456, 52703, 934, 4093, 17793,
10343, 855, 54310, 356, 25495, 3973, 1128, 799, 4233, 28376, 11463,
11190, 3993, 361, 4188, 808, 14568, 363, 12782, 702, 6936, 54537,
52920, 8526, 50256, 646, 870, 29741, 54788, 25512, 29543, 4239,
58201, 75077, 8213, 1131, 365, 4935, 6994, 5233, 34992, 4260, 5207,
6973, 6974, 5174, 4529, 4546, 9464, 17987, 27570, 7159, 3981, 565,
29836, 889, 10825, 888, 78864, 732, 21213, 34337, 5536, 689, 734,
30730, 17847, 52523, 52520, 52522, 34084, 78549;


@each $id in $ids {
  [id$="#{$id}"] {
    div[class*=CoralBonusInformation_coralBonusInformation] {
      background: url("https://b2ccdn.coral.ru/content/bf-shield-2025.webp") !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 50px !important;
      position: relative;
      flex-basis: unset;

      @media (max-width: 768px) {
        background: url("https://b2ccdn.coral.ru/content/percent.png"), url("https://b2ccdn.coral.ru/content/BF-Shield.webp") !important;
        background-repeat: no-repeat !important;
        background-size: 70px, cover !important;
        background-position: center;

        &:after {
          content: "Участвует в Чёрной пятнице";
          font-size: 14px;
          color: #fff;
          padding-left: 50px;
        }
      }
    }

    div[class*=CoralBonusInformation_coralBonusInformation] > * {
      display: none !important;
    }
  }
}
