@media (min-width: 993px) {
    #promo-trigger {
        min-width: 400px;
        background: url("https://b2ccdn.sunmar.ru/content/promo_trigger_2025.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        position: fixed;
        bottom: 20px;
        left: 0;
        padding: 13px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        border: none;
        z-index: 20;
        text-align: left;
        cursor: pointer;
    }

    #promo-trigger.js-close {
        display: none;
    }

    #promo-trigger:after {
        content: "";
        display: block;
        width: 125px;
        height: 95px;
        top: -55%;
        right: -4%;
        transform: rotate(8deg);
        position: absolute;
        background: url(https://b2ccdn.sunmar.ru/content/promo-icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #promo-trigger .text {
        font-size: 16px;
    }

    #promo-trigger .erid {
        font-size: 8px;
    }

    #promo-trigger-close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: -18px;
        top: -48px;
        border: none;
        z-index: 2;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        padding: 0;
        background: #ffffff;
        border-radius: 50%;
    }
}

a[href*="bookinghotel"] {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
}

a[href*="bookinghotel"]:before {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M7 22H17C18.1046 22 19.6504 18.2546 19.6504 17.15V7.84925C19.6504 7.13154 18.6154 5.78021 17.9923 5.42412L12.9923 2.56698C12.3774 2.21563 11.6226 2.21563 11.0077 2.56698L6.00772 5.42412C5.38457 5.78021 4.34961 6.44306 4.34961 7.16078V19.9996C4.34961 21.1042 5.89543 22 7 22Z' fill='%23465AFF' fill-opacity='0.2'/%3E%3Cpath d='M19.6504 19.9996C19.6504 21.4632 18.4636 22.65 17 22.65H7C5.53646 22.65 4.34961 21.4632 4.34961 19.9996V17.15H5.65039V19.9996C5.65039 20.7452 6.25443 21.3492 7 21.3492H17C17.7456 21.3492 18.3496 20.7452 18.3496 19.9996V17.15H19.6504V19.9996ZM10.6855 2.00259C11.5001 1.53722 12.4999 1.53723 13.3145 2.00259L18.3145 4.85903C19.14 5.33079 19.6503 6.20991 19.6504 7.16078V7.84925H18.3496V7.16078C18.3495 6.67642 18.0905 6.22824 17.6699 5.98793L12.6699 3.13149C12.2549 2.89442 11.745 2.89441 11.3301 3.13149L6.33008 5.98793C5.90953 6.22824 5.65049 6.67642 5.65039 7.16078V7.84925H4.34961V7.16078C4.3497 6.20991 4.85995 5.33079 5.68555 4.85903L10.6855 2.00259Z' fill='%232E3465'/%3E%3Cpath d='M5 15.094L5.71504 14.1499C5.93171 14.347 6.19534 14.5123 6.50591 14.6458C6.8237 14.773 7.14511 14.8365 7.47012 14.8365C7.86737 14.8365 8.196 14.7412 8.45601 14.5504C8.71602 14.3597 8.84603 14.1181 8.84603 13.8256C8.84603 13.4823 8.69074 13.2217 8.38017 13.0436C8.07682 12.8656 7.68319 12.7766 7.19928 12.7766H6.66842L6.36507 12.1472L7.77347 10.6785C7.86015 10.5831 7.94682 10.4941 8.03349 10.4115C8.12738 10.3225 8.19961 10.2589 8.25016 10.2207L8.326 10.1635V10.1445C8.1671 10.1635 7.93959 10.1731 7.64347 10.1731H5.34668V9.11448H10.0378V9.88696L8.16349 11.8039C8.7413 11.8738 9.23244 12.0836 9.6369 12.4333C10.0486 12.7766 10.2544 13.2248 10.2544 13.778C10.2544 14.3883 10.0089 14.9128 9.51773 15.3515C9.02659 15.7839 8.36934 16 7.54596 16C7.07649 16 6.61425 15.9237 6.15923 15.7712C5.71142 15.6122 5.32502 15.3865 5 15.094Z' fill='%232E3465'/%3E%3Cpath d='M14.2873 11.575C13.9406 11.8674 13.5217 12.0137 13.0305 12.0137C12.5394 12.0137 12.1205 11.8674 11.7738 11.575C11.4343 11.2825 11.2646 10.9265 11.2646 10.5068C11.2646 10.0936 11.4343 9.74073 11.7738 9.44827C12.1205 9.14945 12.5394 9.00004 13.0305 9.00004C13.5144 9.00004 13.9297 9.14945 14.2764 9.44827C14.6303 9.74073 14.8073 10.0936 14.8073 10.5068C14.8073 10.9265 14.6339 11.2825 14.2873 11.575ZM11.5355 15.8856L17.4399 9.11448H18.7075L12.803 15.8856H11.5355ZM12.5213 10.9551C12.6586 11.0759 12.8283 11.1363 13.0305 11.1363C13.2328 11.1363 13.4025 11.0759 13.5397 10.9551C13.6842 10.8343 13.7564 10.6849 13.7564 10.5068C13.7564 10.3352 13.6842 10.189 13.5397 10.0682C13.4025 9.941 13.2328 9.87742 13.0305 9.87742C12.8283 9.87742 12.6586 9.941 12.5213 10.0682C12.3841 10.189 12.3155 10.3352 12.3155 10.5068C12.3155 10.6849 12.3841 10.8343 12.5213 10.9551ZM15.9773 15.5613C15.6379 15.2689 15.4682 14.916 15.4682 14.5028C15.4682 14.0895 15.6379 13.7366 15.9773 13.4442C16.324 13.1454 16.7429 12.9959 17.2341 12.9959C17.718 12.9959 18.1333 13.1454 18.48 13.4442C18.8267 13.7366 19 14.0895 19 14.5028C19 14.916 18.8267 15.2689 18.48 15.5613C18.1405 15.8538 17.7252 16 17.2341 16C16.7429 16 16.324 15.8538 15.9773 15.5613ZM16.519 14.4932C16.519 14.6712 16.5877 14.8207 16.7249 14.9415C16.8621 15.0623 17.0318 15.1227 17.2341 15.1227C17.4363 15.1227 17.606 15.0623 17.7433 14.9415C17.8877 14.8207 17.9599 14.6712 17.9599 14.4932C17.9599 14.3216 17.8877 14.1753 17.7433 14.0545C17.606 13.9274 17.4363 13.8638 17.2341 13.8638C17.0318 13.8638 16.8621 13.9274 16.7249 14.0545C16.5877 14.1753 16.519 14.3216 16.519 14.4932Z' fill='%232E3465'/%3E%3Cg style='mix-blend-mode:color-dodge'%3E%3Cmask id='mask0_470_170' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='4' y='1' width='16' height='22'%3E%3Cpath d='M7 22H17C18.1046 22 19.6504 18.2546 19.6504 17.15V7.84925C19.6504 7.13154 18.6154 5.78021 17.9923 5.42412L12.9923 2.56698C12.3774 2.21563 11.6226 2.21563 11.0077 2.56698L6.00772 5.42412C5.38457 5.78021 4.34961 6.44306 4.34961 7.16078V19.9996C4.34961 21.1042 5.89543 22 7 22Z' fill='%232E3465' fill-opacity='0.2'/%3E%3Cpath d='M19.6504 19.9996C19.6504 21.4632 18.4636 22.65 17 22.65H7C5.53646 22.65 4.34961 21.4632 4.34961 19.9996V17.15H5.65039V19.9996C5.65039 20.7452 6.25443 21.3492 7 21.3492H17C17.7456 21.3492 18.3496 20.7452 18.3496 19.9996V17.15H19.6504V19.9996ZM10.6855 2.00259C11.5001 1.53722 12.4999 1.53723 13.3145 2.00259L18.3145 4.85903C19.14 5.33079 19.6503 6.20991 19.6504 7.16078V7.84925H18.3496V7.16078C18.3495 6.67642 18.0905 6.22824 17.6699 5.98793L12.6699 3.13149C12.2549 2.89442 11.745 2.89441 11.3301 3.13149L6.33008 5.98793C5.90953 6.22824 5.65049 6.67642 5.65039 7.16078V7.84925H4.34961V7.16078C4.3497 6.20991 4.85995 5.33079 5.68555 4.85903L10.6855 2.00259Z' fill='%232E3465'/%3E%3Cpath d='M5 15.094L5.71504 14.1499C5.93171 14.347 6.19534 14.5123 6.50591 14.6458C6.8237 14.773 7.14511 14.8365 7.47012 14.8365C7.86737 14.8365 8.196 14.7412 8.45601 14.5504C8.71602 14.3597 8.84603 14.1181 8.84603 13.8256C8.84603 13.4823 8.69074 13.2217 8.38017 13.0436C8.07682 12.8656 7.68319 12.7766 7.19928 12.7766H6.66842L6.36507 12.1472L7.77347 10.6785C7.86015 10.5831 7.94682 10.4941 8.03349 10.4115C8.12738 10.3225 8.19961 10.2589 8.25016 10.2207L8.326 10.1635V10.1445C8.1671 10.1635 7.93959 10.1731 7.64347 10.1731H5.34668V9.11448H10.0378V9.88696L8.16349 11.8039C8.7413 11.8738 9.23244 12.0836 9.6369 12.4333C10.0486 12.7766 10.2544 13.2248 10.2544 13.778C10.2544 14.3883 10.0089 14.9128 9.51773 15.3515C9.02659 15.7839 8.36934 16 7.54596 16C7.07649 16 6.61425 15.9237 6.15923 15.7712C5.71142 15.6122 5.32502 15.3865 5 15.094Z' fill='%232E3465'/%3E%3Cpath d='M14.2873 11.575C13.9406 11.8674 13.5217 12.0137 13.0305 12.0137C12.5394 12.0137 12.1205 11.8674 11.7738 11.575C11.4343 11.2825 11.2646 10.9265 11.2646 10.5068C11.2646 10.0936 11.4343 9.74073 11.7738 9.44827C12.1205 9.14945 12.5394 9.00004 13.0305 9.00004C13.5144 9.00004 13.9297 9.14945 14.2764 9.44827C14.6303 9.74073 14.8073 10.0936 14.8073 10.5068C14.8073 10.9265 14.6339 11.2825 14.2873 11.575ZM11.5355 15.8856L17.4399 9.11448H18.7075L12.803 15.8856H11.5355ZM12.5213 10.9551C12.6586 11.0759 12.8283 11.1363 13.0305 11.1363C13.2328 11.1363 13.4025 11.0759 13.5397 10.9551C13.6842 10.8343 13.7564 10.6849 13.7564 10.5068C13.7564 10.3352 13.6842 10.189 13.5397 10.0682C13.4025 9.941 13.2328 9.87742 13.0305 9.87742C12.8283 9.87742 12.6586 9.941 12.5213 10.0682C12.3841 10.189 12.3155 10.3352 12.3155 10.5068C12.3155 10.6849 12.3841 10.8343 12.5213 10.9551ZM15.9773 15.5613C15.6379 15.2689 15.4682 14.916 15.4682 14.5028C15.4682 14.0895 15.6379 13.7366 15.9773 13.4442C16.324 13.1454 16.7429 12.9959 17.2341 12.9959C17.718 12.9959 18.1333 13.1454 18.48 13.4442C18.8267 13.7366 19 14.0895 19 14.5028C19 14.916 18.8267 15.2689 18.48 15.5613C18.1405 15.8538 17.7252 16 17.2341 16C16.7429 16 16.324 15.8538 15.9773 15.5613ZM16.519 14.4932C16.519 14.6712 16.5877 14.8207 16.7249 14.9415C16.8621 15.0623 17.0318 15.1227 17.2341 15.1227C17.4363 15.1227 17.606 15.0623 17.7433 14.9415C17.8877 14.8207 17.9599 14.6712 17.9599 14.4932C17.9599 14.3216 17.8877 14.1753 17.7433 14.0545C17.606 13.9274 17.4363 13.8638 17.2341 13.8638C17.0318 13.8638 16.8621 13.9274 16.7249 14.0545C16.5877 14.1753 16.519 14.3216 16.519 14.4932Z' fill='%232E3465'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_470_170)'%3E%3Crect x='2.34961' y='0.653564' width='19' height='23' fill='url(%23paint0_linear_470_170)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_470_170' x1='3.57271' y1='0.653564' x2='25.5251' y2='15.1462' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF83FF'/%3E%3Cstop offset='1' stop-color='%230080F4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

a[href*="bookinghotel"] {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
}

a[href*="bookinghotel"]:before {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M7 22H17C18.1046 22 19.6504 18.2546 19.6504 17.15V7.84925C19.6504 7.13154 18.6154 5.78021 17.9923 5.42412L12.9923 2.56698C12.3774 2.21563 11.6226 2.21563 11.0077 2.56698L6.00772 5.42412C5.38457 5.78021 4.34961 6.44306 4.34961 7.16078V19.9996C4.34961 21.1042 5.89543 22 7 22Z' fill='%23465AFF' fill-opacity='0.2'/%3E%3Cpath d='M19.6504 19.9996C19.6504 21.4632 18.4636 22.65 17 22.65H7C5.53646 22.65 4.34961 21.4632 4.34961 19.9996V17.15H5.65039V19.9996C5.65039 20.7452 6.25443 21.3492 7 21.3492H17C17.7456 21.3492 18.3496 20.7452 18.3496 19.9996V17.15H19.6504V19.9996ZM10.6855 2.00259C11.5001 1.53722 12.4999 1.53723 13.3145 2.00259L18.3145 4.85903C19.14 5.33079 19.6503 6.20991 19.6504 7.16078V7.84925H18.3496V7.16078C18.3495 6.67642 18.0905 6.22824 17.6699 5.98793L12.6699 3.13149C12.2549 2.89442 11.745 2.89441 11.3301 3.13149L6.33008 5.98793C5.90953 6.22824 5.65049 6.67642 5.65039 7.16078V7.84925H4.34961V7.16078C4.3497 6.20991 4.85995 5.33079 5.68555 4.85903L10.6855 2.00259Z' fill='%232E3465'/%3E%3Cpath d='M5 15.094L5.71504 14.1499C5.93171 14.347 6.19534 14.5123 6.50591 14.6458C6.8237 14.773 7.14511 14.8365 7.47012 14.8365C7.86737 14.8365 8.196 14.7412 8.45601 14.5504C8.71602 14.3597 8.84603 14.1181 8.84603 13.8256C8.84603 13.4823 8.69074 13.2217 8.38017 13.0436C8.07682 12.8656 7.68319 12.7766 7.19928 12.7766H6.66842L6.36507 12.1472L7.77347 10.6785C7.86015 10.5831 7.94682 10.4941 8.03349 10.4115C8.12738 10.3225 8.19961 10.2589 8.25016 10.2207L8.326 10.1635V10.1445C8.1671 10.1635 7.93959 10.1731 7.64347 10.1731H5.34668V9.11448H10.0378V9.88696L8.16349 11.8039C8.7413 11.8738 9.23244 12.0836 9.6369 12.4333C10.0486 12.7766 10.2544 13.2248 10.2544 13.778C10.2544 14.3883 10.0089 14.9128 9.51773 15.3515C9.02659 15.7839 8.36934 16 7.54596 16C7.07649 16 6.61425 15.9237 6.15923 15.7712C5.71142 15.6122 5.32502 15.3865 5 15.094Z' fill='%232E3465'/%3E%3Cpath d='M14.2873 11.575C13.9406 11.8674 13.5217 12.0137 13.0305 12.0137C12.5394 12.0137 12.1205 11.8674 11.7738 11.575C11.4343 11.2825 11.2646 10.9265 11.2646 10.5068C11.2646 10.0936 11.4343 9.74073 11.7738 9.44827C12.1205 9.14945 12.5394 9.00004 13.0305 9.00004C13.5144 9.00004 13.9297 9.14945 14.2764 9.44827C14.6303 9.74073 14.8073 10.0936 14.8073 10.5068C14.8073 10.9265 14.6339 11.2825 14.2873 11.575ZM11.5355 15.8856L17.4399 9.11448H18.7075L12.803 15.8856H11.5355ZM12.5213 10.9551C12.6586 11.0759 12.8283 11.1363 13.0305 11.1363C13.2328 11.1363 13.4025 11.0759 13.5397 10.9551C13.6842 10.8343 13.7564 10.6849 13.7564 10.5068C13.7564 10.3352 13.6842 10.189 13.5397 10.0682C13.4025 9.941 13.2328 9.87742 13.0305 9.87742C12.8283 9.87742 12.6586 9.941 12.5213 10.0682C12.3841 10.189 12.3155 10.3352 12.3155 10.5068C12.3155 10.6849 12.3841 10.8343 12.5213 10.9551ZM15.9773 15.5613C15.6379 15.2689 15.4682 14.916 15.4682 14.5028C15.4682 14.0895 15.6379 13.7366 15.9773 13.4442C16.324 13.1454 16.7429 12.9959 17.2341 12.9959C17.718 12.9959 18.1333 13.1454 18.48 13.4442C18.8267 13.7366 19 14.0895 19 14.5028C19 14.916 18.8267 15.2689 18.48 15.5613C18.1405 15.8538 17.7252 16 17.2341 16C16.7429 16 16.324 15.8538 15.9773 15.5613ZM16.519 14.4932C16.519 14.6712 16.5877 14.8207 16.7249 14.9415C16.8621 15.0623 17.0318 15.1227 17.2341 15.1227C17.4363 15.1227 17.606 15.0623 17.7433 14.9415C17.8877 14.8207 17.9599 14.6712 17.9599 14.4932C17.9599 14.3216 17.8877 14.1753 17.7433 14.0545C17.606 13.9274 17.4363 13.8638 17.2341 13.8638C17.0318 13.8638 16.8621 13.9274 16.7249 14.0545C16.5877 14.1753 16.519 14.3216 16.519 14.4932Z' fill='%232E3465'/%3E%3Cg style='mix-blend-mode:color-dodge'%3E%3Cmask id='mask0_470_170' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='4' y='1' width='16' height='22'%3E%3Cpath d='M7 22H17C18.1046 22 19.6504 18.2546 19.6504 17.15V7.84925C19.6504 7.13154 18.6154 5.78021 17.9923 5.42412L12.9923 2.56698C12.3774 2.21563 11.6226 2.21563 11.0077 2.56698L6.00772 5.42412C5.38457 5.78021 4.34961 6.44306 4.34961 7.16078V19.9996C4.34961 21.1042 5.89543 22 7 22Z' fill='%232E3465' fill-opacity='0.2'/%3E%3Cpath d='M19.6504 19.9996C19.6504 21.4632 18.4636 22.65 17 22.65H7C5.53646 22.65 4.34961 21.4632 4.34961 19.9996V17.15H5.65039V19.9996C5.65039 20.7452 6.25443 21.3492 7 21.3492H17C17.7456 21.3492 18.3496 20.7452 18.3496 19.9996V17.15H19.6504V19.9996ZM10.6855 2.00259C11.5001 1.53722 12.4999 1.53723 13.3145 2.00259L18.3145 4.85903C19.14 5.33079 19.6503 6.20991 19.6504 7.16078V7.84925H18.3496V7.16078C18.3495 6.67642 18.0905 6.22824 17.6699 5.98793L12.6699 3.13149C12.2549 2.89442 11.745 2.89441 11.3301 3.13149L6.33008 5.98793C5.90953 6.22824 5.65049 6.67642 5.65039 7.16078V7.84925H4.34961V7.16078C4.3497 6.20991 4.85995 5.33079 5.68555 4.85903L10.6855 2.00259Z' fill='%232E3465'/%3E%3Cpath d='M5 15.094L5.71504 14.1499C5.93171 14.347 6.19534 14.5123 6.50591 14.6458C6.8237 14.773 7.14511 14.8365 7.47012 14.8365C7.86737 14.8365 8.196 14.7412 8.45601 14.5504C8.71602 14.3597 8.84603 14.1181 8.84603 13.8256C8.84603 13.4823 8.69074 13.2217 8.38017 13.0436C8.07682 12.8656 7.68319 12.7766 7.19928 12.7766H6.66842L6.36507 12.1472L7.77347 10.6785C7.86015 10.5831 7.94682 10.4941 8.03349 10.4115C8.12738 10.3225 8.19961 10.2589 8.25016 10.2207L8.326 10.1635V10.1445C8.1671 10.1635 7.93959 10.1731 7.64347 10.1731H5.34668V9.11448H10.0378V9.88696L8.16349 11.8039C8.7413 11.8738 9.23244 12.0836 9.6369 12.4333C10.0486 12.7766 10.2544 13.2248 10.2544 13.778C10.2544 14.3883 10.0089 14.9128 9.51773 15.3515C9.02659 15.7839 8.36934 16 7.54596 16C7.07649 16 6.61425 15.9237 6.15923 15.7712C5.71142 15.6122 5.32502 15.3865 5 15.094Z' fill='%232E3465'/%3E%3Cpath d='M14.2873 11.575C13.9406 11.8674 13.5217 12.0137 13.0305 12.0137C12.5394 12.0137 12.1205 11.8674 11.7738 11.575C11.4343 11.2825 11.2646 10.9265 11.2646 10.5068C11.2646 10.0936 11.4343 9.74073 11.7738 9.44827C12.1205 9.14945 12.5394 9.00004 13.0305 9.00004C13.5144 9.00004 13.9297 9.14945 14.2764 9.44827C14.6303 9.74073 14.8073 10.0936 14.8073 10.5068C14.8073 10.9265 14.6339 11.2825 14.2873 11.575ZM11.5355 15.8856L17.4399 9.11448H18.7075L12.803 15.8856H11.5355ZM12.5213 10.9551C12.6586 11.0759 12.8283 11.1363 13.0305 11.1363C13.2328 11.1363 13.4025 11.0759 13.5397 10.9551C13.6842 10.8343 13.7564 10.6849 13.7564 10.5068C13.7564 10.3352 13.6842 10.189 13.5397 10.0682C13.4025 9.941 13.2328 9.87742 13.0305 9.87742C12.8283 9.87742 12.6586 9.941 12.5213 10.0682C12.3841 10.189 12.3155 10.3352 12.3155 10.5068C12.3155 10.6849 12.3841 10.8343 12.5213 10.9551ZM15.9773 15.5613C15.6379 15.2689 15.4682 14.916 15.4682 14.5028C15.4682 14.0895 15.6379 13.7366 15.9773 13.4442C16.324 13.1454 16.7429 12.9959 17.2341 12.9959C17.718 12.9959 18.1333 13.1454 18.48 13.4442C18.8267 13.7366 19 14.0895 19 14.5028C19 14.916 18.8267 15.2689 18.48 15.5613C18.1405 15.8538 17.7252 16 17.2341 16C16.7429 16 16.324 15.8538 15.9773 15.5613ZM16.519 14.4932C16.519 14.6712 16.5877 14.8207 16.7249 14.9415C16.8621 15.0623 17.0318 15.1227 17.2341 15.1227C17.4363 15.1227 17.606 15.0623 17.7433 14.9415C17.8877 14.8207 17.9599 14.6712 17.9599 14.4932C17.9599 14.3216 17.8877 14.1753 17.7433 14.0545C17.606 13.9274 17.4363 13.8638 17.2341 13.8638C17.0318 13.8638 16.8621 13.9274 16.7249 14.0545C16.5877 14.1753 16.519 14.3216 16.519 14.4932Z' fill='%232E3465'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_470_170)'%3E%3Crect x='2.34961' y='0.653564' width='19' height='23' fill='url(%23paint0_linear_470_170)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_470_170' x1='3.57271' y1='0.653564' x2='25.5251' y2='15.1462' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF83FF'/%3E%3Cstop offset='1' stop-color='%230080F4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 993px) {
    a[href*="bookinghotel"] {
        flex-direction: row-reverse;
    }
}

@media (max-width: 993px) {
    a[href*="bookinghotel"] {
        flex-direction: row-reverse;
    }
}

@media (min-width: 993px) {
    .hotel-list-item .hotel-card {
        position: relative;
    }

    .hotel-list-item .hotel-card:after {
        content: 'Дополнительная скидка 3% до 14.09.25 г.';
        width: auto;
        background: url("https://b2ccdn.sunmar.ru/content/card-hightlight-2.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
        display: flex;
        align-items: end;
        justify-content: end;
        font-size: 16px;
        padding: 11px 22px 12px 100px;
        border-radius: 8px;
        margin-top: auto;
    }

    .hotel-list-item .hotel-card:before {
        content: '';
        width: 100px;
        height: 77px;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        background: url("https://b2ccdn.sunmar.ru/content/home-and-bubble.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}


.hotel-card-price {
    position: relative;
}


.hotel-card-price:after {
    content: 'Дополнительная скидка 3% до 14.09.25 г.';
    width: auto;
    background: url("https://b2ccdn.sunmar.ru/content/card-hightlight-2.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 16px;
    padding: 11px 22px 12px 100px;
    border-radius: 8px;
}

.hotel-card-price:before {
    content: '';
    width: 100px;
    height: 77px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: url("https://b2ccdn.sunmar.ru/content/home-and-bubble.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
