@mixin burger($width, $height, $gap, $color) {
  display: block;
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;

  &:before, &:after {
    content: '';
    position: absolute;
    width: $width;
    left: 0;
    height: $height;
    background-color: $color;
    transition: all 0.3s ease;
  }

  &:before {
    top: -$gap;
  }

  &:after {
    bottom: -$gap;
  }
}

@mixin burger-to-cross {
  background-color: transparent;

  &:before {
    top: 0;
    transform: rotate(45deg);
  }

  &:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

.right-group {
  display: none !important
}

.menu-button {
  display: none
}

.header-mobile {
  justify-content: center
}

.left-group + div {
  margin-left: auto;
  margin-right: auto;
}

.menu-button-close {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
}

.custom-bottom-mobile-menu {
  background: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1300;
}

.custom-bottom-mobile-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.custom-bottom-mobile-menu__icon {
  flex-shrink: 0;
}

.custom-bottom-mobile-menu__promo {
  display: flex;
  gap: 4px;
  font-size: 9px;
  line-height: 8px;
  border-radius: 70px;
  border: 1px solid #535353;
  background: #fff;
  width: fit-content;
  text-decoration: none;
  color: #000;
  padding: 0 8px 0 4px;
  height: 28px;
}

.custom-bottom-mobile-menu__user {
  .ant-avatar {
    width: 100%;
    height: 100%;
  }
}

.custom-bottom-mobile-menu__promo .icon {
  background: #e84f0e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.custom-bottom-mobile-menu__promo svg {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}

.custom-bottom-mobile-menu__chat {
  position: relative;
}

.custom-bottom-mobile-menu__chat:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  display: block;
  background: #2bbf4b;
  border-radius: 100%;
  top: 0;
  right: 0;
}

.header-client-side-mobile > div {
  padding: 0 !important;
}

.header-client-side-mobile > div > div {
  position: static;
  top: unset;
  bottom: unset;
}

.header-mobile {
  background: #FFFFFF;
}

.__jivoMobileButton {
  display: none !important;
}

.mobile-hambuerger-menu-conainer {
  top: 0 !important;
  z-index: 1200;
}

.custom-bottom-mobile-menu__burger {
  position: relative;

  span {
    @include burger(28px, 1px, 11px, #2a2a2a);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }

  &.clicked {
    span {
      transform: scale(1.2);
      @include burger-to-cross;
    }
  }
}

.custom-bottom-mobile-menu[data-step='flight'] {
  background: transparent;

  .custom-bottom-mobile-menu__promo,
  .custom-bottom-mobile-menu__user,
  .custom-bottom-mobile-menu__burger {
    display: none;
  }

  .custom-bottom-mobile-menu__chat {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    &:after {
      top: 8px;
      right: 8px;
    }
  }
}

.custom-bottom-mobile-menu[data-step='booking'] {
  background: transparent;

  .custom-bottom-mobile-menu__promo,
  .custom-bottom-mobile-menu__user,
  .custom-bottom-mobile-menu__burger {
    display: none;
  }

  .custom-bottom-mobile-menu__chat {
    position: fixed;
    bottom: 170px;
    right: 16px;
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    &:after {
      top: 8px;
      right: 8px;
    }
  }
}

[data-status="logged-out"] {
  .ant-avatar {
    display: none;
  }

  .user-icon {
    display: block;
  }
}

[data-status="logged-in"] {
  .user-icon {
    display: none;
  }

  .ant-avatar {
    display: flex;
  }
}
