.destination-smart-search-container #DestinationSmartSearchContent_TreeContainer {
  overflow-y: scroll;
  height: 340px;
}

.destination-smart-search-container .header-wrapper {
  border-radius: 8px;
  overflow: hidden;
}

.destination-smart-search-container .header-wrapper + div {
  width: 100%;
  background: #fff;
  box-shadow: #959da533 0 8px 24px;
}

.destination-smart-search-container .header-wrapper + div.js-hidden {
  display: none;
}

#DestinationSmartSearchContent div:nth-child(2) div:nth-child(3) {
  overflow-y: hidden;
  max-height: unset;
}

.js-custom-style {
  border-radius: 12px;
  border: 1px solid var(--Buttons-color_Btn_Border_Ghost_Default, rgba(0, 0, 0, 0.15));

  .cancel-child-wrapper {
    gap: 8px;
  }

  .anticon svg path {
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
  }

  &:hover {
    background: transparent !important;
    color: #33C2FF !important;
    border-color: #33C2FF !important;

    .anticon svg path {
      fill: #33C2FF !important;
    }
  }
}
