.go3545915297 {
    background: linear-gradient(225deg, #e7317d, #d8242a);
}

.go2693040066 {
    background: linear-gradient(225deg, #e7317d, #d8242a);
}

.go2693040066:hover {
    background: linear-gradient(225deg, #e7317d, #d8242a);
}

.go11521965 {
    background: linear-gradient(225deg, #e7317d, #d8242a);
    height: 48px;
    border-radius: 30px;
}

.go11521965:hover {
    background: linear-gradient(225deg, #e7317d, #d8242a);
}

.go453495381 .go1101559337 {
    padding: 0;
}

.go1884721574 {
    max-width: unset;
    width: 100%;
    object-fit: cover;
}

.go3962080824.go1170 + .go1369318414, .go3962080824:checked + .go1369318414 {
    background: #122755;
}

.go3992108381 {
    box-shadow: inset 0 0 0 2px #122755 !important;
}
