#chainCB[data-page="hotel"] {
  min-height: 50px;

  @media (max-width: 991px) {
    min-height: 26px;
  }

  .chain-cb__hotel-text {
    display: inline-block;
    padding-inline-start: 45px;
    width: fit-content;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;

    @media (max-width: 991px) {
      padding-inline-start: 20px;
    }
  }
}
