.push-noty {
  box-sizing: border-box;
  font-size: clamp(11px, 2vw, 14px);
  position: fixed;
  top: 23px;
  left: 6.5%;
  background: #6d6feb;
  display: grid;
  grid-template-columns: min-content auto;
  z-index: 1000;
  color: #FFFFFF;
  padding: 1em;
  border-radius: 1.4em;
  gap: 1em;
  max-width: 30em;
  font-family: Museo_Sans, Museo_Sans_Cyrill, sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

  @media (max-width: 993px) {
    transform: translateX(-50%);
    grid-template-columns: 1fr;
    left: 50%;
    width: calc(100% - 24px);
  }

  &__visual {
    width: 7em;
    aspect-ratio: 1;
    align-self: center;

    @media (max-width: 993px) {
      position: absolute;
      right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7em;

    @media (max-width: 993px) {
      padding-right: 4em;
    }
  }

  &__headline {
    font-size: 1.2em;
    margin: 0;
  }

  &__message {
    font-size: 1em;
  }
}

.push-noty .action-buttons {
  display: flex;
  gap: 1em;

  &__button {
    margin: 0;
    text-align: center;
    font-size: 1em;
    border-radius: .75em;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    padding: .75em 1.1em;
    border: none;
    min-width: 8.5em;
    transition: all .3s ease;
  }

  &__button--submit {
    background: #0093d0;
    color: #FFFFFF;
    border-radius: 40px;
    background: var(--gradient_Primary, linear-gradient(245deg, var(--Gradient-color_Gradinet_Primary_Second, #D8242A) 15.84%, var(--Gradient-color_Gradient_Primary_First, #E7317D) 84.16%));

    @media(hover: hover) {
      &:hover {
        background: var(--gradient_Primary_Hover, linear-gradient(245deg, var(--Gradient-color_Gradient_Primary_First, #E7317D) 15.84%, var(--Gradient-color_Gradinet_Primary_Second, #D8242A) 84.16%));
      }
    }

    &:active {
      background: var(--Button-color_Btn_Bg_Primary_Pressed, #C11117);
    }
  }

  &__button--close {
    color: #000;
    background: #FFFFFF;
    border-radius: 56px;

    @media(hover: hover) {
      &:hover {
        background: #F5F5F8;
      }
    }

    &:active {
      background: #DFDFE8;
    }
  }
}

.push-noty.mobile {
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  &:after {
    display: none;
  }
}

.js-hidden {
  display: none
}
